body {
   background: black;
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   color: #333;
}
.panel{
	margin-left: 9%;
	padding: 5% 5% 5% 5%;
	position:absolute;
	height:80%;
	width:80%;
}
.panel div{
	border: 10px solid;
}
.button {
	float:left;
	height:100%;
	width:20%;
}
#blue {
	background-color:blue;
}
#yellow{
	background-color:yellow;
}
#red{
	background-color:red;
}
#green{
	background-color:green;
}
